<div class="border-outline grey">

    <h2 class="font-lightblue">Whats Happening</h2>
    <h5>Metro Strategy: The Plan for Growing Parramatta</h5>
    <p>The NSW Government is working with Parramatta Council to recognise and plan Greater Parramatta as a transformational place.</p>
    <p>Parramatta is being designed as Sydney’s second CBD and will be Western Sydney’s number one location for employment and health and education services, supported by a vibrant mixture of land uses and cultural activity.</p>
    <p><a href="http://www.strategy.planning.nsw.gov.au/sydney/the-plan/#section-224&265" target="_blank">Find out more about what’s planned…</a></p>

    <a href="http://1psq.com.au/" target="_blank"><img src="images/1psq-04.jpg" width="100%" height="auto" alt="image" /></a>

<!--    <h5>What’s planned in the Metro strategy </h5>
    <ul>
        <li>A Green Grid: An interconnected system of natural landscapes, local open spaces and parks.</li>
        <li>More job creation: Over the next 20 years the Government plans for 100,000 jobs within Greater Parramatta.</li>
        <li>Learning centre: UWS at Parramatta is projected to be home to 10,000 students in 2017.</li>
        <li>Light Rail Initiative: Light rail is being investigated.</li>
        <li>Arts hub: new exhibition centres and opportunities.</li>
    </ul>-->


</div>
