<div class="thick-black"></div>
<h1>Parramatta is transforming.</h1>
<h5>Parramatta is changing fast. More jobs, more green spaces, more cultural facilities, more people. This site explores the data on Parramatta today - towards understanding the city of Parramatta tomorrow.</h5>
<h5>We’re exploring what kinds of information is out there on Parramatta as a city in transition. Over time, we want the site evolving to become a citizen’s dashboard of Parramatta. Find out what is planned for the area, how the city has evolved over time, and what’s trending in the city right now. </h5>
<div class="thick-black"></div>
