<h2>Parramatta is transforming.</h2>
<p>Parramatta is changing fast. More jobs, more green spaces, more cultural facilities, more people. This site explores the data on Parramatta today - towards understanding the city of Parramatta tomorrow.</p>
<p>We’re exploring what kinds of information is out there on Parramatta as a city in transition. Over time, we want the site evolving to become a citizen’s dashboard of Parramatta. Find out what is planned for the area, how the city has evolved over time, and what’s trending in the city right now. </p>
