<div class="border-outline black">

    <h2>Parramatta Square & UWS</h2>
    <h5>A flythrough animation of the future Parramatta Square</h5>
    <p>Parramatta square is the preferred site for the new flagship campus for UWS. Construction work on stage one is expected to begin in early 2015 and completed for first university semester in 2017.</p>
    <p>There are 86286 people working in Parramatta. 15225 of these come from Parramatta. 7059 are from Blacktown, 6496 from Merrylands/Guildford, 6426 from Baulkham Hills, 3916 from Penrith, 3877 from Blacktown, 3644 from Fairfield3527 from Mt Druitt, 2780 from Carlingford and 2119 fro, St Marys 49695 travel by car; 13339 by train </p>

    <div class="responsive-container">
        <iframe src="//www.youtube.com/embed/hu3IfIwSjgM" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

</div>
