

<!-- HEADER ROW START -->
<div class="row">

    <header class="col-xs-12"></header>

</div>
<!-- HEADER ROW END -->


<!-- INTRO PARAGRAPH -->

<div class="row">

    <div id="intro-text" class="col-xs-12"></div>

</div>

<!-- END INTRO PARAGRAPH -->


<!-- ONE ROW START -->
<div class="row">

    <!-- TEMPERATURE DIV -->
    <div id="temp-widget" class="col-xs-12 col-sm-6 matchHeight"></div>


    <!-- TRAFFIC DIV -->
    <div id="traffic-widget" class="col-xs-12 col-sm-6 matchHeight"></div>

</div>
<!-- ONE ROW END -->


<!-- TWO ROW START -->
<div class="row">

    <!-- DA MAP -->
    <div id="map-da" class="col-xs-12 col-sm-8 matchHeight"></div>

    <!-- INSTAGRAM DIV -->
    <div id="instagram-widget" class="col-xs-12 col-sm-4 matchHeight"></div>


</div>
<!-- TWO ROW END -->

<!-- TWO.HALF ROW START -->
<div class="row">


    <!-- DA MAP -->
    <div id="flickr" class="col-xs-12 col-sm-6 matchHeight"></div>

    <!-- Whats happening DIV -->
    <div id="happening" class="col-xs-12 col-sm-6 matchHeight"></div>



</div>
<!-- TWO.HALF ROW END -->

<div class="thick-black hidden-xs extra-margin-top"></div>


<!-- TWO.TWO ROW START -->
<div class="row">

    <!-- DA MAP CUISINE -->
    <div id="map-cuisine" class="col-xs-12"></div>


</div>
<!-- TWO.TWO ROW END -->

<div class="thick-black hidden-xs extra-margin-bottom"></div>


<!-- TWO.ONE ROW START -->
<div class="row">


    <!-- Parramatta Square DIV -->
    <div id="parra-square" class="col-xs-12 col-sm-6 matchHeight"></div>

    <!-- DID YOU KNOW DIV -->
    <div id="factoid-one" class="col-xs-12 col-sm-3 matchHeight"></div>

    <!-- DID YOU KNOW DIV -->
    <div id="factoid-two" class="col-xs-12 col-sm-3 matchHeight"></div>


</div>
<!-- TWO.ONE ROW END -->

<div class="thick-black hidden-xs extra-margin-top"></div>


<!-- THREE ROW START -->
<div class="row">

    <!-- BAR CHART HEADER -->
    <div id="bar-header" class="col-xs-12"></div>

    <!-- DA BAR -->
    <div id="lag-bar" class="col-xs-12 col-sm-6"></div>

    <!-- DA BAR 2 -->
    <div id="suburb-bar" class="col-xs-12 col-sm-6">

    </div>



</div>
<!-- THREE ROW END -->


<div class="thick-black hidden-xs extra-margin-bottom"></div>


<!-- FOUR ROW START -->
<div class="row">

    <!-- TWITTER DIV -->
    <div id="twitter-cont" class="col-xs-12 col-sm-4 matchHeight"></div>


    <!-- TRAFFIC DIV -->
    <div id="map-tree" class="col-xs-12 col-sm-8 matchHeight"></div>


</div>
<!-- FOUR ROW END -->


<div class="thick-black hidden-xs extra-margin-top"></div>


<!-- FOUR.1 ROW START -->
<div class="row">

    <!-- Where Game DIV -->
    <div id="where-game" class="col-xs-12"></div>


</div>
<!-- FOUR.1 ROW END -->



<div class="thick-black hidden-xs extra-margin-bottom"></div>


<!-- FIVE ROW START -->
<div class="row">

    <div id="memory-project-header" class="col-xs-12">

    </div>

    <!-- VIDEO DIV -->
    <div id="video-one" class="col-xs-12 col-sm-6"></div>


    <!-- VIDEO DIV -->
    <div id="video-two" class="col-xs-12 col-sm-6"></div>


</div>
<!-- FIVE ROW END -->


<!-- FOOTER ROW START -->
<div class="row">
    <footer class="col-xs-12"></footer>
</div>
<!-- FOOTER ROW END -->

